- var link = '/mahasiswa/info/'
for data in mahasiswa
  - var href = link+data.nim
  tr
    td
      if (!data.image) 
        span.avatar.d-block.rounded(style='background-image: url(/img/ava-default.jpg)')
      else
        - var hrefImg = 'background-image: url('+data.image.url+')'
        span.avatar.d-block.rounded(style=`${hrefImg}`)
    td= data.nama
    td= data.nim
    td= data.rating
    td
      a.deleteButton.btn(role='button' data-deletedobject=data.id)
        i.fas.fa-trash