extends ../layout

block head
  link(href="/css/sweetalert2.min.css")

block script
  script(src="/js/sweetalert2.all.min.js")
  script(src="/assets/js/dashboard/mahasiswa.js")

block content
  .card
    table.table.card-table.table-vcenter
      input#csrf(type='hidden' name='_csrf' value=_csrf)
      tbody
        tr
          th Nama
          th NIM
          th Angkatan
          th Rating
          th Image
          th
        for data in mahasiswa
          tr
            td= data.nama
            td= data.nim
            td= data.angkatan
            td= data.rating
            if (data.image != null)
              td= data.image
            else
              td= null
            td
              a.deleteButton.btn(role='button' data-deletedobject=data.id)
                i.fas.fa-trash